In [1]:
import numpy as np
import pandas as pd

import geopandas as gpd

Read data

In [2]:
SHAPE_FILE = "data/gadm36_PHL_shp/gadm36_PHL_3.shp"
shapes = gpd.read_file(SHAPE_FILE)

In [3]:
shapes.head()

,GID_0,NAME_0,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,NL_NAME_2,GID_3,NAME_3,VARNAME_3,NL_NAME_3,TYPE_3,ENGTYPE_3,CC_3,HASC_3,geometry
0,PHL,Philippines,PHL.1_1,Abra,None,PHL.1.1_1,Bangued,None,PHL.1.1.1_1,Agtangao,None,None,Barangay,Village,None,None,"POLYGON ((120.63702 17.56270, 120.63690 17.560..."
1,PHL,Philippines,PHL.1_1,Abra,None,PHL.1.1_1,Bangued,None,PHL.1.1.2_1,Angad,None,None,Barangay,Village,None,None,"POLYGON ((120.62151 17.57671, 120.62351 17.595..."
2,PHL,Philippines,PHL.1_1,Abra,None,PHL.1.1_1,Bangued,None,PHL.1.1.3_1,Bañacao,None,None,Barangay,Village,None,None,"POLYGON ((120.59573 17.60569, 120.58296 17.599..."
3,PHL,Philippines,PHL.1_1,Abra,None,PHL.1.1_1,Bangued,None,PHL.1.1.4_1,Bangbangar,None,None,Barangay,Village,None,None,"POLYGON ((120.60975 17.60699, 120.60423 17.600..."
4,PHL,Philippines,PHL.1_1,Abra,None,PHL.1.1_1,Bangued,None,PHL.1.1.5_1,Cabuloan,None,None,Barangay,Village,None,None,"POLYGON ((120.61269 17.59633, 120.61466 17.595..."

In [12]:
sample = pd.DataFrame(data = zip([1,2,3], [10.541173972241738, 14.54136684853697, 8.041173972241738], 
                     [122.83989386089448, 121.03749818490371, 123.0374981840371]), 
             columns=['id', 'latitude', 'longitude'])


def simple_sjoin(df, shapes):
    #convert to GeoDataFrame and add CRS 4326
    df = gpd.GeoDataFrame(
        df, geometry=gpd.points_from_xy(df['longitude'], df['latitude']))
    df.set_crs(epsg=4326, inplace=True)
    
    df_joined = gpd.sjoin(shapes, df)
    return df_joined

def sjoin_point(lat, lon, shapes):
    df = pd.DataFrame(data = [[lat,lon]], columns=['latitude', 'longitude'])
    
    df_joined = simple_sjoin(df, shapes)
    
    return df_joined

In [13]:
sjoin_point(1,1,shapes)

Empty GeoDataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, NL_NAME_1, GID_2, NAME_2, NL_NAME_2, GID_3, NAME_3, VARNAME_3, NL_NAME_3, TYPE_3, ENGTYPE_3, CC_3, HASC_3, geometry, index_right, latitude, longitude]
Index: []

Spatial Join

In [7]:
simple_sjoin(sample, shapes)

,GID_0,NAME_0,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,NL_NAME_2,GID_3,NAME_3,...,NL_NAME_3,TYPE_3,ENGTYPE_3,CC_3,HASC_3,geometry,index_right,id,latitude,longitude
24570,PHL,Philippines,PHL.47_1,Metropolitan Manila,None,PHL.47.3_1,Makati City,None,PHL.47.3.8_1,Forbes Park,...,None,Barangay,Village,None,None,"POLYGON ((121.03905 14.55736, 121.03905 14.556...",1,2,14.541367,121.037498
27246,PHL,Philippines,PHL.51_1,Negros Occidental,None,PHL.51.2_1,Bago City,None,PHL.51.2.6_1,Balingasag,...,None,Barangay,Village,None,None,"POLYGON ((122.83991 10.53021, 122.84236 10.535...",0,1,10.541174,122.839894
40105,PHL,Philippines,PHL.79_1,Zamboanga del Norte,None,PHL.79.1_1,Bacungan,None,PHL.79.1.17_1,Tiogan,...,None,Barangay,Village,None,None,"POLYGON ((123.03435 7.99702, 122.99358 7.98662...",2,3,8.041174,123.037498